@model Student

<h1>Bonjour depuis /Student/Index</h1>
<p>Infos depuis l'étudiant</p>

<ul>
    <li>Nom: @Model.Lastname</li>
    <li>Nom: @Model.Firstname</li>
    <li>Nom: @Model.Age</li>
    <li>Nom: @Model.GPA</li>
</ul>
