@model AccountViewModel
<h1>Création d'un nouvel enseignant</h1>

<form asp-action="Register" asp-controller="Account" method="post">
    <div class="form-group">
        <label asp-for="Firstname"></label> 
        <input asp-for="Firstname" class="form-control" />
        <span asp-validation-for="Firstname" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Lastname"></label> 
        <input asp-for="Lastname" class="form-control" />
        <span asp-validation-for="Lastname" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Email"></label> 
        <input asp-for="Email" class="form-control" />
        <span asp-validation-for="Email" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="PersonalWebSite"></label> 
        <input asp-for="PersonalWebSite" class="form-control" />
        <span asp-validation-for="PersonalWebSite" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Password"></label>
        <input asp-for="Password" type="password" class="form-control" />
        <span asp-validation-for="Password" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="ConfirmPassword"></label>
        <input asp-for="ConfirmPassword" type="password" class="form-control" />
        <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
    </div>
    <input type="submit" value="Créer un enseignant" class="btn btn-primary" />
</form>

<div class="text-danger" asp-validation-summary="All"></div>
